

#mainbody {
  font-family: Verdana, sans-serif;
  background-image: url('../images/pinkbubles.jpg');
  background-size: cover;
  max-height: 500px;
  background-attachment: fixed;
}

#logo {
  width: 75%;
  height: 75%;
  padding-left: 25px;
  display: inline-flex;
  align-items: flex-end;
}


h2 {
  font-family: 'Teko', sans-serif;
  font-size: calc(25px + 0.75vw);
  text-align: center;
  padding-left: 25px;
  display: inline-flex;
  align-items: flex-end;
}

#textcover {
  text-align: justify;
  text-indent: 10%;
  padding-left: 25px;
  font-family: 'Varela Round', sans-serif;
  font-size: 17px;
  display: inline-flex;
  align-items: flex-end;
  margin-left: 25px;
  margin-right: 25px;
}

#proteingif {
  background-color: RGB(0,0,0,0);
  max-width: 85%;
  min-width: 30%;
  display: inline-flex;
  align-items: flex-end;
}

#bartext {
  color: #a1004b;
}

.more_btn {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  text-align: center;
  font-size: 30px;
  font-family: 'Teko', cursive;
  color: #a1004b;
  margin: auto;
  display: inline-flex;
  align-items: flex-end;
}

.hidding {
  display: none;
}
