

#mainbody {
  font-family: Verdana, sans-serif;
  background-image: url('../images/pinkbubles.jpg');
  background-size: cover;
  max-height: 500px;
  background-attachment: fixed;
}

#logo {
  width: 75%;
  height: 75%;
  padding-left: 25px;
  display: inline-flex;
  align-items: flex-end;
}


h2 {
  font-family: 'Teko', sans-serif;
  font-size: calc(25px + 0.75vw);
  text-align: center;
  padding-left: 25px;
  display: inline-flex;
  align-items: flex-end;
  background-color: RGBA(255,255,255,0.5);
}

#textcover {
  text-align: justify;
  text-indent: 5%;
  padding-left: 25px;
  font-family: 'Varela Round', sans-serif;
  font-size: 17px;
  display: inline-flex;
  align-items: flex-end;
  margin-left: 25px;
  margin-right: 25px;
  background-color: RGBA(255,255,255,0.5);
}

#proteingif {
  background-color: RGB(0,0,0,0);
  max-width: 85%;
  min-width: 30%;
  display: inline-flex;
  align-items: flex-end;
}

#listtitle {
  text-align: left;
  text-indent: 5%;
  padding-left: 25px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: 'Varela Round', sans-serif;
  font-size: 17px;
}

.listcover {
  padding-left: 16px;
}

.listcover:before {
  content: "\27BD"; /* Insert content that looks like bullets */
  padding-right: 8px;
  font-size: 17px;
  font-weight: 900;
  color: #a1004b; /* Or a color you prefer */
}

#ulist {
  width: 100%;
  display: block;
  align-items: center;
  list-style: none; /* Remove list bullets */
  text-indent: 5%;
  margin-bottom: 1em;
  padding-left: 25px;
  margin-left: 10%;
  text-align: left;
  font-family: 'Varela Round', sans-serif;
  font-size: 17px;
}

.more_btn {
  border: 2px solid #a1004b;
  border-radius: 8px;
  background-color: transparent;
  padding: 0px;
  text-align: center;
  font-size: 30px;
  font-family: 'Teko', cursive;
  color: #a1004b;
  text-align: center;
  display: inline-flex;
  align-items: flex-end;
}

.highlighted {
  border: 2px solid #a1004b;
  border-radius: 8px;
  background-color: rgba(161, 0, 75, 0.25);
  padding: 0px;
  text-align: center;
  font-size: 30px;
  font-family: 'Teko', cursive;
  color: #a1004b;
  text-align: center;
  display: inline-flex;
  align-items: flex-end;
}

.hidding {
  display: none;
}

.navbar-default {
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #9f9e9e;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #a1004b;
}
.navbar-default .navbar-text {
  color: #9f9e9e;
}
.navbar-default .navbar-nav > li > a {
  color: #9f9e9e;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #a1004b;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #9f9e9e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #a1004b;
  background-color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #a1004b;
  background-color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #a1004b;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #a1004b;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #9f9e9e;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #9f9e9e;
}
.navbar-default .navbar-link {
  color: #9f9e9e;
}
.navbar-default .navbar-link:hover {
  color: #a1004b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #9f9e9e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a1004b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a1004b;
    background-color: #000000;
  }
}
